:host {
    --_aster-timeline__border-color: var(--aster-timeline__border-color, #808080);
    --_aster-timeline__lead-time-font-size: var(--aster-timeline__lead-time-font-size, 0.8em);
    display: block;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, max-content));
    grid-auto-columns: minmax(0, max-content) 1fr;
}

aster-timeline-lead {
    grid-row: 2;
}

aster-timeline-step {
    grid-row: 2;
    align-self: center;
}
